<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="ms-2 me-auto">
			      <div>글쓴이 : <span th:text="${reply.user.userId}"></span>	</div>
			      <div class="d-flex justify-content-between align-items-center">
			      	<div>
				      	등록일 : 
				      	<span th:text="${#dates.format(reply.postTime,'yyyy-MM-dd HH:mm:ss')}"></span>
			      	</div>
		      		<div>
					    <a  
					    	class="btn btn-sm btn-outline-primary rounded-pill bi bi-hand-thumbs-up" 
					    	th:text="${reply.good}"
					    	th:href="|javascript:replyPreferHandler(${reply.replyNo},true,${boardNo})|">
					    </a>
					    <span>/</span> 
				 		<a  
					    	class="btn btn-sm btn-outline-danger rounded-pill bi bi-hand-thumbs-down" 
					    	th:text="${reply.bad}" 
					    	th:href="|javascript:replyPreferHandler(${reply.replyNo},false,${boardNo})|">
					    </a>
					</div> 
			      </div>
			      <div class="fw-bold">
			      	<span th:text="${reply.replyNo}"></span>.
			      	<span th:text="${reply.title}"></span>
			      </div>
			      <div th:if="${reply.imgPath!=null}">
			      	<img alt="댓글 이미지" class="img-thumbnail"  style="height:50px; width:100%; object-fit: cover;"
			      	th:src="@{/public/img/{file}(file=${reply.imgPath})}">
			      </div>
			      <div th:text="${reply.contents}"></div>	
			    </div>
</html>