<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:insert="headerNav"></header>
	
	
	<main class="container">
		<h1 class="m-3 d-flex justify-content-between align-items-center">
			<span> UserRepository.findAll() : 유저 리스트 </span>
			<a href="/user/insert.do" class="small btn btn-secondary">등록</a>
		</h1>
		<p>
			페이지 : 
			<span class="badge text-bg-success" th:text="${page}"></span> /
			<span class="badge text-bg-primary" th:text="${users.totalElements}"></span>
		</p>
		<table class="table table-hover" id="userTable">
			<thead>
			
				<tr>
					<th>
						<a class="orderLink bi" th:href="@{./1(sort=userId,,field=${param.field},search=${param.search})}" data-sort="userId">아이디</a>
					</th>
					<th>
						<a class="orderLink bi" th:href="@{./1(sort=name,,field=${param.field},search=${param.search})}" data-sort="name">이름</a>
					</th>
					<th>
						<a class="orderLink bi" th:href="@{./1(sort=phone,,field=${param.field},search=${param.search})}" data-sort="phone">폰번호</a>
					</th>
					<th>
						<a class="orderLink bi" th:href="@{./1(sort=email,,field=${param.field},search=${param.search})}" data-sort="email">이메일</a>
					</th>
					<th>
						<a class="orderLink bi" th:href="@{./1(sort=birth,,field=${param.field},search=${param.search})}" data-sort="birth">나이</a>
					</th>
					<th>
						<a class="orderLink bi" th:href="@{./1(sort=signup,field=${param.field},search=${param.search})}" data-sort="signup">가입일</a>
					</th>
					<th>상세(수정)</th>
				</tr>
<script>
const orderLinks=document.querySelectorAll(".orderLink");
const paramSort="[[${param.sort}]]";
const paramDirect="[[${param.direct}]]";
if(!paramSort&&!paramDirect){
	const link=orderLinks[0];	
	link.href+="&direct=asc";
	link.classList.add("bi-sort-down");
}

orderLinks.forEach((link)=>{
	let href=link.href;
	let sort=link.dataset.sort;
	if(sort==paramSort){
		if(!paramDirect || paramDirect=="desc"){
			link.href=href+"&direct=asc";
			link.classList.add("bi-sort-down");
			link.classList.remove("bi-sort-down-alt");
		}else{
			link.classList.add("bi-sort-down-alt");
			link.classList.remove("bi-sort-down");
		}
	}
});
</script>

			</thead>
			<tbody>
				<tr th:each="user:${users}">
					<td th:text="${user.userId}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.phone}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${#dates.year(#dates.createNow())} - ${#dates.year(user.birth)}"></td>
					<td th:text="${#dates.format(user.signup,'yyyy-MM-dd')}"></td>
					<td>
						<a th:href="@{/user/detail/{userId}(userId=${user.userId})}">
							상세보기
						</a>
					</td>
					<!-- <td th:text="${user.boards.size}"></td> -->
				</tr>
			</tbody>
		</table>
				<div class="d-flex justify-content-center" 
			th:insert="/paging"
			th:with="startPage=${(page-2<1)?1:page-2},
					 endPage=${(page+2>users.totalPages)?users.totalPages:page+2},
					 lastPage=${users.totalPages},
					 hasNext=${users.hasNext},
					 hasPrevious=${users.hasPrevious}"
			>
		</div>
		
	</main>
</body>
</html>